body{
	margin: 0px;
	background-color: #F3E9E7;
	font-family: 'Roboto', sans-serif;
}
li{
	list-style: none;
	float:left;
}
head{
	margin: 0px;
}
div.social{
	position: absolute;
	height: 2em;
	width: auto;
	background-color:#A59994;
	position: relative;
}

.header {
position: relative;
background-color: #A59994;
height: 9.5em;
border-bottom: .5em #9B8E88 solid;
}
.circle{
	width: auto;
	background-color: #CA9477;
	border-radius: 10em;
	margin-top: -30px;
    margin-left: 3.5em;
    margin-right: 3.5em;
    margin-bottom: 3em;
    margin-top:0em;
    border: .4em #B6856B solid;
}

img.me {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
.me{
float:left;
display: inline-block;
border-radius: 10em;
height: 8.5em;
width: auto;
padding: .4em;
margin:1em;
margin-left: 3em;
background-color: #C5BDBB;
margin-top: -5px;
}


h1 {
	font-weight: 400 !important;
	font-size: 1.2em !important;
	margin:.6em !important;

}

.font{
	font-size: 1em;
	padding-bottom: 1em;
  padding-right: .3em;
}
p{
	margin-top: 0em;
	margin-bottom: 0em;
}

.reset-list{
  list-style: none;
}
.icons.reset-list{
max-width: 25%;
margin-left: auto;
margin-right: 3em;
margin-top: 0px;
margin-bottom: 0px;
}
.icons.reset-list > li {
  display: inline-block;
}
.fa{
display: inline-block;
padding-left: .5rem;
padding-right: .5rem;
margin-top: .4em;
}
ul.icons{
	background-color: #A59994;
}

#example{
	max-width: 60%;
}

.imgCircle{
	background-color: #D0C9C8;
	border-radius: 10em;
	border: .4em #9B8E88 solid;
	width: 13em;
	height: 13em;
	margin: 10px;
}

.ctr{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
/*responsive*/
@media only screen and (max-width: 1159px){
	.link1, .link2, .link3{
		width: 10em;
        height: 10em;
	}
	.font{
		font-size:.9em;
	}
}

@media only screen and (max-width: 999px){
    .me{
    	margin-left: 1em;
        margin-top: -2px;
    }
    h1 {
        font-weight: 400 !important;
        font-size: 1em !important;
        margin:.6em !important;
    }
    .font{
    	font-size: .9em;
    }
}
@media only screen and (max-width: 936px){
	.circles > img.me{
    	margin-left: 1em;
        margin-top: -2px;
        height: 4em;
		width: auto;
		padding: .3em;
    }
	h1 {
        font-weight: 400 !important;
        font-size: 1em !important;
        margin:.6em !important;
    }
    .font{
    	font-size: .9em;
    }
    .link1, .link2, .link3{
		width: 8em;
        height: 8em;
	}
}

@media only screen and (max-width: 500px){
	.me{
        margin-left: 2em;
        margin-top: -4px;
    }
	.font{
        display: none;
    }
    .link1bw, .link2, .link3{
		width: 8em;
        height: 8em;
        display:block;
	}

}

.hide{
	display: none;
}

