body{
	margin: 0px;
	background-color: #CACEBD;
	font-family: 'Roboto', sans-serif;
}
head{
	margin:0px;
}
.social{
	height: 2em;
	width: auto;
	background-color:#232114;
}

.header .name{
	position: relative;
background-color: #546c32;
height: 11em;
}
h1{
	font-weight: none;
}

.me{
float:left;
display: inline-block;
border-radius: 10em;
height: 8em;
width: auto;
padding: .5em;
margin:1em;
margin-left: 5em;
background-color: #232114;
}

h1{
display: inline-block;
}
.name{
	position: absolute;
}