body{
	margin: 0px;
	background-color: #F3E9E7;
	font-family: 'Roboto', sans-serif;
}
head{
	margin: 0px;
}
.social{
	height: 2em;
	width: auto;
	background-color:#504D48;
}

.header .name{
position: relative;
background-color: #9B8E88;
}

.me{
float:left;
display: inline-block;
border-radius: 10em;
height: 8em;
width: auto;
padding: .5em;
margin:1em;
background-color: #C5BDBB;
}

h1{
display: inline-block;
}
.name{
	position: absolute;
}